@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  font-family: "Tilt Prism", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  background-color: #131a58;
}
/* header */
h1 {
  background-color: purple;
}

h2 {
  display: block;
}

h3 {
  display: inline-block;
}

.score{
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

#player-score {
  margin: 0 10px 0 10px;
  color: #fff;
  font-weight: bold;
}

#computer-score {
  margin: 0 10px 0 10px;
  color: #fff;
  font-weight: bold;
}


/* Buttons */
button {
  display: inline-block;
  margin: 5px;
  width: 90px;
  height: 90px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: aqua;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* Rules Button */
#gameRule {
  display: inline-block;
  margin-top: 45px;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  text-align: center; 
}

/* click a button */
p {
  margin-top: 10px;
}




